

/*===============================================

                     Layout 

===============================================*/

.page-wrap {
  //display: flex;
  margin: 0 auto;
  max-width: 90em;
  overflow: hidden;
  padding: 0 6em;
}

.column {
  //background: #ccc;
  height: 50px;
}
