

/*===============================================

                     Layout 

===============================================*/



.page-wrap {
  //display: flex;
  margin: 0 auto;
  max-width: 80em;
  //overflow: hidden;
  //padding: 0 2em;
}

header .ui.grid > *,
header .ui.grid > .column:not(.row){
  padding-left: 0;
  padding-right: 0;
}

.column {
  background: #fff;
  //height: 50px;
}

.logo {
  background: url("../img/fabc-logo.png") no-repeat;
  display: block;
  height: 258px;
  left: 2em;
  position: absolute;
  text-indent: -999999em;
  width: 212px;
  z-index: 30;

  &:hover {
    margin-top: 5px;
  }
}

.banner-wrap {
  left: -1em;
  overflow: hidden;
  //position: relative;
  z-index: 0;
}

.ui.grid {
  margin: 0;
}

.ui.grid.intro {
  margin-bottom: 100px;
  
  img {
    float: left;
    margin-right: 4rem;
  }
}

img {
  max-width: 100%;
}