/*===============================================

              Menu - Navigation

===============================================*/


.nav-main {
  background: #3c0c08;
  height: 70px;
  position: relative;
  z-index: 20;
  
  .column {
    background: none;
  }
}

.ui.grid + .grid.nav-main {
  margin: 0;
}

.nav-top {
  height: 55px;

  .column {
    padding: .5em !important;
  }

  p {
    font-size: .75rem;
  }
}

